---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "shared/src/server/service";

const posts = await getPosts();
---

<Layout>
  <div>
    <Title documentTitle="Read this 🚀">Read this 🚀</Title>
    <ul>
      {
        posts.map((post) => (
          <li class="post-link">
            <a href={"/posts/".concat(post.slug)}>
              <h3>{post.title}</h3>
              <time>{post.date.toDateString()}</time>
              <p>{post.description}</p>
            </a>
            <form method="post" action="/api/delete">
              <button>Delete</button>
              <input type="hidden" name="slug" value={post.slug} />
            </form>
            <hr />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
